/* Footer */

.footer-container {
  height: 25vh;

  background-color: var(--background-color);

  box-shadow: 0px 2px 10px rgba(194, 8, 8, 0.801);
  -webkit-box-shadow: 0px 2px 10px rgba(194, 8, 8, 0.801);

  transition: height 0.8s ease;
  -o-transition: height 0.8s ease;
  --webkit-transition: height 0.8s ease;
  &.small-footer {
    height: 10vh;
  }
  &.large-footer {
    height: 25vh;
  }
}

.footer {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
  margin-bottom: -1rem;
  color: var(--text-color);
  p {
    font-size: 1.1rem;
  }
  &.small-footer {
    height: 10vh;
  }
  &.large-footer {
    height: 25vh;
  }
}
