/* src/styles/styles.css */

/* Main Container */
.about-container {
  width: 100%;
  max-width: 1200px;
  max-height: 1200px;
  margin: 10rem auto;
  padding: 2rem;
  --background-color: var(--background-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(253, 0, 0, 0.466);
  overflow: auto;
}
h1,
h2 {
  font-weight: bold;
  color: var(--text-color);
}

/* Header */
.about-header {
  text-align: center;
  margin-bottom: 2rem;
}

.about-header h1 {
  font-size: 2.5rem;
  --text-color: var(--text-color);
}

.about-header p {
  font-size: 1.2rem;
  color: var(--text-color);

  margin-top: 0.5rem;
}

/* Mission Section */
.mission {
  margin-bottom: 2rem;
}

.mission h2 {
  font-size: 2rem;
  color: var(--text-color);
}

.mission p {
  font-size: 1.2rem;
  color: var(--text-color);

  line-height: 1.8;
  margin-top: 0.5rem;
}

.mission strong {
  color: var(--text-color);
}

/* Content Section */
.content {
  margin-bottom: 2rem;
}

.content h2 {
  font-size: 2rem;
  color: var(--text-color);
}

.content ul {
  list-style: none;
  padding-left: 0;
  margin-top: 1rem;
}

.content li {
  font-size: 1.2rem;
  line-height: 1.7;
  margin-bottom: 1rem;
}

/* About Team Section */
.about-team {
  margin-bottom: 2rem;
}

.about-team h2 {
  font-size: 2rem;
  color: var(--text-color);
}

.about-team p {
  font-size: 1.2rem;
  color: var(--text-color);

  line-height: 1.8;
  margin-top: 0.5rem;
}

/* Join Section */
.join {
  margin-bottom: 1rem;
}

.join h2 {
  font-size: 2rem;
  color: var(--text-color);
}

.join p {
  font-size: 1.2rem;
  color: var(--text-color);

  line-height: 1.8;
  margin-top: 0.5rem;
}

.join strong {
  color: var(--text-color);
}

/* Responsive Design */
@media (max-width: 768px) {
  .about-container {
    padding: 1.5rem;
  }

  .about-header h1 {
    font-size: 2rem;
  }

  .about-header p {
    font-size: 1rem;
  }

  .mission h2,
  .content h2,
  .about-team h2,
  .join h2 {
    font-size: 1.8rem;
  }

  .content li,
  .mission p,
  .about-team p,
  .join p {
    font-size: 1rem;
  }
}
