
<div class="about-container text-center">
    <h1>About us</h1>
    <h3>Unlocking the Mysteries of Science and Metal</h3>
    <header class="about-header">
        <hr>
    <h5>Our Mission</h5>
    <p>Our mission is simple: to explore, explain, and celebrate the fascinating worlds of science and music. We believe that both fields are incredibly powerful, each in their own way — whether it's unraveling the mysteries of the universe through quantum physics or channeling the raw energy of sound to create something extraordinary.</p>
    </header>
    <hr>
    <section class="mission">
        <h5>Who we are</h5>
        <p>We are a group of passionate individuals who share a love for science and music. From physicists to musicians, writers to metalheads, we come together to explore the deeper connections between these two seemingly different worlds. Our aim is to spark curiosity, inspire creativity, and show that no matter how different these fields may seem, they both help us understand and appreciate the complexity and beauty of the world around us.</p>
    </section>
        <hr>
    <section class="content">
        <h2>What we Offer</h2>
        <ul>
            <li><strong>In-Depth Articles:</strong> Content that blends <strong>scientific insights</strong> with <strong>music analysis</strong>.</li>
            <li><strong>Artist Spotlights:</strong> Get to know the people behind the music, like <strong>Will Ramos</strong> of <strong>Lorna Shore</strong>.</li>
            <li><strong>Thought-Provoking Science:</strong> Discover topics like the <strong>Double-Slit Experiment</strong> and more.</li>
            <li><strong>Interdisciplinary Exploration:</strong> How music and science converge.</li>
    
        </ul>
        </section>
        <hr>
        <section class="join">
        <h5>Join the Journey</h5>
        <p>At the intersection of extreme music and cutting-edge science, there’s a whole universe of discovery waiting for you. Whether you're here to get your mind blown by quantum mechanics or to learn more about your favorite metal vocalist, we invite you to join the conversation. Stay curious, keep exploring, and always remember that in both music and science, there's always something new to discover.</p>
    </section>
    <hr>
    <footer class="footer">
        <p>Have questions or ideas? We’d love to hear from you! Drop us a message or leave a comment — let's explore together.</p><br>
        <a routerLink="/contact">Contact us</a></footer>
</div>
