/* src/styles/styles.css */

/* Main Container */
.contact-container {
  width: 100%;
  max-height: 1200px;
  max-width: 800px;
  margin: 10rem auto;
  padding: 1.5rem;
  background-color: #000000b4;
  border-radius: 10px;
  box-shadow: 0 4px 8px inset rgba(236, 23, 23, 0.801);
  overflow: auto;
}

/* Header */
.contact-header {
  text-align: center;
  margin-bottom: 2rem;
}

.contact-header h1 {
  font-size: 2.5rem;
  color: #fbfbfcf8;
}

.contact-header p {
  font-size: 1.2rem;
  color: #fbfbfcf8;
  margin-top: 0.5rem;
}

/* Form Styles */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #fbfbfcf8;
}

input,
textarea {
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border 0.3s ease;
}

input:focus,
textarea:focus {
  border-color: #007bff;
  outline: none;
}

textarea {
  resize: vertical;
}

button.submit-btn {
  background-color: #a13f70da;
  color: #fbfbfcf8;
  padding: 1rem;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.submit-btn:hover {
  background-color: #0056b3;
}

/* Footer */
.contact-footer {
  text-align: center;
  margin-top: 2rem;
  font-size: 1.1rem;
  color: #fbfbfcf8;
}

.contact-footer a {
  color: #8f2a68da;
  text-decoration: none;
  font-size: 1rem;
  margin: 0 1rem;
  transition: color 0.3s ease;
}

.contact-footer a:hover {
  color: #ff4081; /* Hover effect */
}

/* Responsive Design */
@media (max-width: 768px) {
  .contact-container {
    padding: 1.5rem;
  }

  .contact-header h1 {
    font-size: 2rem;
  }

  .contact-header p {
    font-size: 1rem;
  }

  .form-group label {
    font-size: 0.9rem;
  }

  input,
  textarea {
    font-size: 1rem;
  }

  button.submit-btn {
    font-size: 1rem;
  }
}
