<!-- src/app/contact/contact.component.html -->
<div class="contact-container text-center">
  <header class="contact-header">
    <h1>Contact Us</h1>
    <p>
      If you have any questions or need further information, feel free to reach
      out to us!
    </p>
  </header>

  <form class="contact-form flex flex-col justify-center align-middle" (ngSubmit)="onSubmit()" [formGroup]="contactForm">
    <div class="form-group flex flex-col text-start">
      <label for="name" class="form-label">Your Name</label>
      <input
        type="text"
        id="name"
        formControlName="name"
        placeholder="Enter your name"
        class="form-control"
      />
    </div>

    <div class="form-group flex flex-col text-start">
      <label for="eMail" class="form-label">Your Email</label>
      <input
        type="email"
        id="email"
        formControlName="eMail"
        placeholder="Enter your email"
        class="form-control"
      />
    </div>

    <div class="form-group flex flex-col text-start">
      <label for="subject" class="form-label">Subject</label>
      <input
        type="text"
        id="subject"
        formControlName="subject"
        placeholder="Enter subject"
        class="form-control"
      />
    </div>

    <div class="form-group flex flex-col text-start">
      <label for="message" class="form-label">Your Message</label>
      <textarea
        id="message"
        formControlName="message"
        placeholder="Type your message here"
        rows="5"
        class="form-control"
      ></textarea>
    </div>

    <button type="submit" class="submit-btn">Send Message</button>
  </form>

  <footer class="contact-footer">
    <p>
      If you prefer, you can also
      <a href="mailto:contact@example.com">email us directly</a>.
    </p>
  </footer>
</div>

@if (name?.invalid && (name?.dirty || name?.touched)) { @if
(name?.errors?.['required']) {
<p>Name is required</p>
}@else if (name?.errors?.['minLength']) {
<p>Minimum 3 characters required</p>
} } @if (eMail?.invalid && (eMail?.dirty || eMail?.touched)) { @if
(eMail?.errors?.['required']) {
<p>Email is required</p>
}@else if (eMail?.errors?.['email']) {
<p>Invalid Email format</p>
} } @if (message?.invalid && (message?.dirty || message?.touched)) { @if
(message?.errors?.['required']) {
<p>Name is required</p>
}@else if (message?.errors?.['minLength']) {
<p>Minimum 3 characters required</p>
} }
