.blog-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
  max-width: 800px;
  margin: 2rem auto;
  margin-top: 4rem;
}

.blog-post {
  max-width: 800px;
  background-color: #030303b4;
  padding: var(--spacer);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.blog-post-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: var(--text-color);
  margin-bottom: 0.62rem;

  p {
    margin-bottom: 0.9rem;
  }
}

.blog-post-date {
  font-size: 0.9rem;
  color: var(--secondary-color);
  margin-bottom: 0.9rem;
}

.blog-post-content {
  font-size: 1rem;
  line-height: 1.6;
  color: var(--text-color);
  margin-top: 1rem;
  margin-bottom: 1.4rem;
}

.blog-post-content a {
  color: var(--primary-color);
  text-decoration: underline;
}

@media (max-width: 768px) {
  .blog-container {
    padding: 1rem;
  }

  .blog-post {
    padding: 1rem;
  }

  .blog-post-title {
    font-size: 1.5rem;
  }

  .blog-post-content {
    font-size: 0.9rem;
  }
}
