/* Base styles */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

/* Link styling */

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}
a:hover {
  color: #007bff;
}

/* Utility Classes */

.container {
  margin: 0 auto;
  padding: 0 15px;
}

/* src/styles/styles.css */
